
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="pe-7s-notebook"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">$<span class="count">@ViewBag.blogs</span></div>
                            <div class="stat-heading">Blog Sayısı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="pe-7s-comment"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.comments</span></div>
                            <div class="stat-heading">Yorum Sayısı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="pe-7s-browser"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.kategoriler</span></div>
                            <div class="stat-heading">Kategori Sayısı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-users"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.users</span></div>
                            <div class="stat-heading">Kullanıcı Sayısı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-6">
        <div id="chartdiv" style="width:800px; height:600px">
            <h3> Chart Alanı </h3>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="chartdivcolumn" style="width:800px; height:600px">
            <h3> Chart Alanı </h3>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);
    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Home/VisualizeBlogResult/',
                success: function (chartsdata) {
                    var Data = chartsdata.jsonlist;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'categoryname');
                    data.addColumn('number', 'categorycount');
                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].categoryname, Data[i].categorycount]);
                    }
                    var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                    chart.draw(data, {
                        title: "Blog-Category Count",
                        position: "top",
                        fontsize: "16px"
                    });
                }
            });
        })
    }
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);
    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Home/UserBlogList/',
                success: function (chartsdata) {
                    var Data = chartsdata.jsonlist;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'usernamesurname');
                    data.addColumn('number', 'usersblogcount');
                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].usernamesurname, Data[i].usersblogcount]);
                    }
                    var chart = new google.visualization.ColumnChart(document.getElementById('chartdivcolumn'));
                    chart.draw(data, {
                        title: "User-Blog Count",
                        position: "top",
                        fontsize: "16px"
                    });
                }
            });
        })
    }
</script>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>First Look </h4>
        </div>
        <div class="card-body">


            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Categries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Comments</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    @await Component.InvokeAsync("BlogForAdmin")
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    @await Component.InvokeAsync("CategoryForAdmin")

                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    @await Component.InvokeAsync("CommentsForAdmin")
                </div>
            </div>
        </div>
    </div>
</div>


<br />
